<form>
  <mat-card style="background-color: #eeeeff">
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <span class="mat-subtitle">Konfiguration</span>
    </div>
    <p></p>
    <mat-card-content>
      <mat-input-container>
        <input name="host" matInput placeholder="GPIO Controller host:port" [(ngModel)]="serverAddress" required #name="ngModel">
        <mat-error *ngIf="name.touched && name.invalid">
          Wert ist erforderlich. Bitte Hostname oder IP Adresse und Port angeben.
        </mat-error>
      </mat-input-container>
      <button type="button" style="margin-left: 10px;" mat-raised-button (click)="setCookie()">AKTUALISIEREN</button>
    </mat-card-content>
  </mat-card>
</form>
<p></p>
<div *ngIf="rooms">
  <div *ngFor="let item of rooms;let i = index;">
    <mat-card>
      <mat-slide-toggle [color]="accent" [checked]="checkedButton[i]" (change)="onActiveSwitch(i)">{{rooms[i]}}</mat-slide-toggle>
    </mat-card>
    <p></p>
  </div>
</div>
